 <!-- Início do header -->
 <!-- <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a [routerLink]="['/']" class="navbar-brand"><b>Blue Modas</b></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div> -->
  
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
              <li routerLinkActive="active"><a [routerLink]="['/about']">Sobre</a></li>
              <li routerLinkActive="active"><a [routerLink]="['/lojas']">Lojas</a></li>
             
          </ul>
        </div>  -->
        <!-- /.navbar-collapse -->
  
      <!-- </div>
    </nav>
    </header> -->

    <nav class="navbar navbar-expand-lg  navbar-blue bg-blue">
            <a [routerLink]="['/']" class="navbar-brand"><b>Blue Modas</b></a>
      <button class="navbar-toggler" type="button"  (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
    
    
      <div class="collapse navbar-collapse pull-right"   [ngClass]="{ 'show': navbarOpen }">
        <ul class="nav navbar-nav">
          <li class="nav-item pull-right">
            <a [routerLink]="['/about']">Sobre</a>
          </li>
    
          <li class="nav-item pull-right">
            <a [routerLink]="['/lojas']">Lojas</a>
          </li>
        </ul>
      </div>
    </nav>