<section class="content-header">
    <h1>Sobre</h1>
  </section>
  
  <section class="content">
      <h3>
        Blue Modas - Aplicação em Angular
      </h3>
      <p class="lead">
        Delivery de roupas com menu, ordem de pagamento, recomendações, JsonServer, login etc.
      </p>
      
      
      <p class="lead">
        Imagens usadas na aplicação por <a href="http://www.freepik.com" target="_blank">freepik.com</a>
      </p>
      <p class="lead">
          Aplicação desenvolvida por  <a href="http://www.danielleteixeira.com.br" target="_blank">Danielle Teixeira</a>
        </p>
  
    </section>
