<div class="wrapper">
  <!--passando o seletor do header -->
    <app-header></app-header>
  
    <!-- Full Width Column -->
    <div class="content-wrapper">
      <div class="container">
  
          <router-outlet></router-outlet>
  
      </div>
    </div>
  
    <!-- snakbar deve ser aqui -->
    <app-snackbar></app-snackbar>
  
    <footer class="main-footer">
      <div class="container">
        <div class="pull-right hidden-xs">
         Desenvolvido por <b>Danielle Teixeira</b> 
        </div>
        <strong>Blue Modas</strong> Angular Application
      </div>
    </footer>
  </div>
  