  <!-- INÍCIO DO CONTEÚDO -->
  <section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron" [@homeAppeared]=homeState>
     <img src="/assets/img/bemvindo.png" width="80%">
     <!--<h1>Bem vindo ao BlueModas!</h1> -->
     <h3>
       Quer se vestir bem, gastando pouco? 
       Peça e receba suas roupas em casa.
     </h3> <br>
     <a class="btn btn-primary btn-lg" [routerLink]="['/lojas']">Acessar Franquias</a>
  </div>

</section>
<!-- FIM DO CONTEÚDO -->
